<br>
<h3> Página de estadísticas </h3>
<br>
 <table id="formadd" style="margin: 0 auto;">
    <tr bgcolor="#778899"><td><h4>Número total de preguntas: <font color="#0000AA"><%= numberQuestions %></font></h4></td></tr>
    <tr bgcolor="#9ACD32"><td><h4>Número total de comentarios: <font color="#0000AA"><%= numberComments %></font></h4></td></tr>
    <tr bgcolor="#778899"><td><h4>Número medio de comentarios por pregunta: <font color="#0000AA"><%= avgCommentsPerQuestion %></font></h4></td></tr>
    <tr bgcolor="#9ACD32"><td><h4>Número de preguntas sin comentarios: <font color="#0000AA"><%= numberQuestionsWithOutComments %></font></h4></td></tr>
    <tr bgcolor="#778899"><td><h4>Número de preguntas con comentarios: <font color="#0000AA"><%= numberQuestionsWithComments %></font></h4></td></tr>
</table>
<br>
