 <div class='busqueda' id="formadd">
 
 <form method="get" action="/quizes">
  <input type="text" id="search" name="search" placeholder="Buscar	" />
  <input type="submit" value="Buscar" />
</form>

 <form method="get" action="/quizesTematica">

<label for="tematica" class="rem">Tematica:</label>
			<select id="tematica" name="tematica">
			<% 
				for (var i = 0; i < tematicasAux.length; i++) {
				var selectedOK = ((tematicaAux === tematicasAux[i]) ? "selected" : "");
			%>
			<option value="<%=tematicasAux[i]%>" <%=selectedOK%>><%=tematicasAux[i]%></option>
			<% } %>
			</select>
			
  <input type="submit" value="Buscar por tematica" />
</form>

</div>

 <br/>
 <hr/>
 
  <% if(quizes.length==0) { %>        
     No hay resultados que coincidan con el criterio de búsqueda
  <% } %>
 
<table width="70%" style="margin: 0 auto;">
 <tr>
    <th align="left">Temática</th>
    <th align="left">Pregunta</th>
	<% if( session.user ){ %>
		<th align="left" colspan="2">Acciones</th>
	<% } %>
  </tr>
  
  <hr/>
  
 <% var i; for (i=0; i < quizes.length; i++) { %>  
     <tr>
		<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].tematica %></a></td>

		<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
		<% if( session.user ){ %>
			<td align="center">
				<a href="quizes/<%= quizes[i].id %>/edit"><button type="button">EdiTaR</button></a>
			</td>
			<td align="center">
				<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
				<button id="borrar" type="submit" onclick="return confirm('Borrar:<%=quizes[i].pregunta%>');">BoRrAr</button>
			</td>
		<% } %>
	 </tr>
 <% } %>

 </table>
 </p>
 
 <p>
<% if( session.user ){ %>
	<a href="/quizes/new"><button type="button" id="create">Crear pregunta</button></a>
<% } %>
</p>

 
 